body {
    background-color: black; /* Arrière-plan noir */
    color: red; /* Texte en rouge */
    font-family: Arial, sans-serif; /* Police de caractères */
}

h1 {
    color: red; /* Titre en rouge */
}

form {
    margin-top: 20px;
}

input[type="file"] {
    background-color: red; /* Fond de l'élément de fichier en rouge */
    color: black; /* Texte en noir */
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="file"]:hover {
    background-color: darkred; /* Changement de couleur en survol */
}

input[type="submit"] {
    background-color: red; /* Bouton en rouge */
    color: black; /* Texte en noir */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkred; /* Changement de couleur en survol */
}

p {
    margin: 10px 0;
}
